<h1 class="title center">Puzzle With Me</h1>

<p class="text center">{{timer}}</p>

<div class="riddle_box">
	<h3>puzzle</h3>
  <p>{{question}}</p>
</div>

<div class="player_box" id="my_box">
  <h3>{{me.username}}</h3>
  <form method="POST">
    <input type="text" name="answer">
    <input type="submit">
  </form>
</div>

{{#each others}}
<div class="player_box">
	<h3>{{this.username}}</h3>
</div>
{{/each}}

{{#each hasUserName}}
{{#if this}}
{{else}}
<div class="empty_player_box">
	<h3>No player</h3>
</div>
{{/if}}
{{/each}}

<a href="/" class="btn btn-default btn-lg">Quit</a>