<script>
$(document).ready(function() {
  var socket = io();
  socket.emit('logon', { name: "{{ me.username }}" });
  
  socket.on('newUser', function (data) {
    console.log(data.name, "has logged on.");
    $('#messages').append($('<li>').text(data.name + " has logged on."));
  });
  
  $('form').submit(function(){
    if($('#m').val() !== '') {
      console.log("sent message");
      socket.emit('chat message', "{{me.username}}: " + $('#m').val());
      $('#m').val('');
    }
    return false;
  });
  
  socket.on('chat message', function(msg){
    $('#messages').append($('<li>').text(msg));
  });
});
</script>

<h1 class="title center">Puzzle With Me</h1>

<h3>{{host.username}}'s Game</h3>

<div class="message_box five columns" style="">
  <ul id="messages"></ul>
  <form action="" style="bottom:0px; ">
    <input id="m" autocomplete="off" style="width:99%;" />
  </form>
</div>


<!-- section for the boxes-->
<div class="ten columns">

{{#if isHost}}
<div class="player_box five columns alpha omega" id="my_box">
  <h3>{{host.username}} (HOST)</h3>
  {{#if session.allReady}}
      <a href="/play" class="big_button">Start</a>
  {{else}}
  		<button class="btn btn-default disabled btn-lg">Start</button>
  {{/if}}
</div>

{{else}}
<div class="player_box two columns">
  <h3>{{host.username}} (HOST)</h3>
  	<!--disabled button-->
    <a href="/" class="btn btn-default btn-lg disabled">Start</a>
</div>

<div class="player_box two columns" id="my_box">
  <h3>{{me.username}} (ME)</h3>
  {{#if me.isReady}}
  	<p>Waiting for game owner to start...</p>
  {{else}}
  	<form method="POST">
    	<input type="submit" name="ready" value="Ready" class="btn btn-default btn-lg">
  	</form>
  {{/if}}
</div>
{{/if}}

{{#each others}}
<div class="player_box two columns">
 <h3>{{this.username}}</h3>
 {{#if this.isReady}}
  	<p>Ready to Go...</p>
  {{else}}
  	<p>Not Ready!</p>
  {{/if}}
</div>
{{/each}}

{{#each hasUserName}}
{{#if this}}
{{else}}
<div class="empty_player_box five columns alpha omega">
	<h3>No player</h3>
</div>
{{/if}}
{{/each}}
</div>
<!-- END BOXES-->

{{#if isHost}}
  <!-- Target -->
  <input id="copyURLText" value={{copyURL}}>

  <!-- Trigger -->
 <button class="btn btn-default" data-clipboard-target="#copyURLText">
    <img src="https://zenorocha.github.io/clipboard.js/assets/images/clippy.svg" height="20" alt="Copy to clipboard">
  </button>

  <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"> </script>
  <script>
    var clipboard = new Clipboard('.btn'); 
    clipboard.on('success', function(e) {
      console.log(e);
    });
    clipboard.on('error', function(e) {
      console.log(e);
    });
  </script>
{{/if}}
<a  href="/quit" class="btn btn-default"><img src="https://cdn2.iconfinder.com/data/icons/picons-essentials/57/logout-512.png" height="20"></a>
