<script>
$(document).ready(function() {
  var socket = io();
  socket.emit('logon', { name: "{{ me.username }}", isReady: "{{ me.isReady }}" });
  
  socket.on('newUser', function (data) {
    console.log(data.name, "has logged on.");
    $('#messages').append($('<li>').text(data.name + " has logged on."));
    $('#message_box').animate({ scrollTop: $('#message_box')[0].scrollHeight }, "fast");
    if (data.name !== '{{ me.username }}') {
      var text_str = "Not ready!";
      if (data.isReady) text_str = "Ready to Go...";
      var boxes = $('#player_boxes').children();
      for (var i = 0; i < 4; i++) {
        if (boxes[i].getElementsByTagName('h3')[0].innerText === "No player") {
          boxes[i].getElementsByTagName('h3')[0].innerText = data.name;
          boxes[i].className = "player_box five columns alpha omega";
          boxes[i].getElementsByTagName('p')[0].innerText = text_str;
          break;
        }
      }
    } 
  });
  
  $('#message_form').submit(function(){
    if($('#m').val() !== '') {
      console.log("sent message");
      socket.emit('chat message', "{{me.username}}: " + $('#m').val());
      $('#m').val('');
    }
    return false;
  });
  
  socket.on('chat message', function(msg){
    $('#messages').append($('<li>').text(msg));
    $('#message_box').animate({ scrollTop: $('#message_box')[0].scrollHeight }, "fast");
  });

  socket.on('notification_ready', function(data){
    console.log("Done");
    {{#if isHost}}
    {{else}}
      $('#messages').append($('<li>').text(data.username + " is ready."));
      $('#message_box').animate({ scrollTop: $('#message_box')[0].scrollHeight }, "fast");
    {{/if}}
  });

  socket.on('notification_ready', function(){
    console.log("all ready");
    {{#if isHost}}
      var startButton = document.getElementById("start_button");
      startButton.className = startButton.className.replace("disabled","");
      console.log(startButton.className);
      startButton.disabled = false;
    {{/if}}
  });

  $('#start_form').submit(function(){
    socket.emit('notification_ready', {session_id: '{{session_id}}', username:'{{me.username}}' });
    return false;
  });

  $('#ready_form').submit(function(){
    socket.emit('notification_ready', {session_id: '{{session_id}}', username:'{{me.username}}' });
    var readyButton = document.getElementById("ready_button");
    readyButton.className = readyButton.className + " disabled";
    readyButton.disabled = true;
    return false;
  });

});
</script>

<h1 class="title center">Puzzle With Me</h1>

<h3>{{host.username}}'s Game</h3>

<div class="left_box five columns">
  <div id="message_box"><ul id="messages"></ul></div>
  <form id="message_form" style="bottom:0px">
    <input id="m" autocomplete="off" style="width:99%" />
  </form>
</div>

<!-- section for the boxes-->
<div id="player_boxes" class="ten columns">

{{#if isHost}}
<div class="player_box five columns alpha omega" id="my_box">
  <h3>{{host.username}} (HOST)</h3>
  <form id="start_form">
    <button id="start_button" class="btn btn-default disabled btn-lg">Start</button>
  </form>
</div>

{{else}}

<div class="player_box five columns alpha omega">
  <h3>{{host.username}} (HOST)</h3>
</div>

<div class="player_box five columns alpha omega" id="my_box">
  <h3>{{me.username}} (ME)</h3>
  <form id="ready_form">
    <button id="ready_button" class="btn btn-default btn-lg">Ready</button>
  </form>
</div>

{{/if}}

{{#each others}}
<div class="player_box five columns alpha omega">
 <h3>{{this.username}}</h3>
 {{#if this.isReady}}
  	<p>Ready to Go...</p>
  {{else}}
  	<p>Not Ready!</p>
  {{/if}}
</div>
{{/each}}

{{#each hasUserName}}
{{#if this}}
{{else}}
<div class="empty_player_box five columns alpha omega">
	<h3>No player</h3>
  <p></p>
</div>
{{/if}}
{{/each}}

</div>

<!-- END BOXES-->

<div class = "fifteen columns">
{{#if isHost}}
  <!-- Target -->
  <input id="copyURLText" value={{copyURL}}>

  <!-- Trigger -->
 <button class="btn btn-default" data-clipboard-target="#copyURLText">
    <img src="https://zenorocha.github.io/clipboard.js/assets/images/clippy.svg" height="20" alt="Copy to clipboard">
  </button>

  <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"> </script>
  <script>
    var clipboard = new Clipboard('.btn'); 
    clipboard.on('success', function(e) {
      console.log(e);
    });
    clipboard.on('error', function(e) {
      console.log(e);
    });
  </script>
{{/if}}
<a  href="/quit" class="btn btn-default"><img src="https://cdn2.iconfinder.com/data/icons/picons-essentials/57/logout-512.png" height="20"></a>

</div>
